<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Resume</title>
</head>
<body>
<h2>Create resume</h2>
<form action="/save">
    <div>
        <label>First Name: </label>
        <input type="text" name="firstName"/>
    </div>
    <div>
        <label>Last Name: </label>
        <input type="text" name="lastName"/>
    </div>
    <div>
        <label>Age: </label>
        <input type="number" name="age"/>
    </div>
    <div>
        <label>Email: </label>
        <input type="email" name="email"/>
    </div>
    <div>
        <label>City: </label>
        <input type="text" name="city"/>
    </div>
    <div>
        <label>Vacancy: </label>
        <input type="text" name="vacancy"/>
    </div>
    <div>
        <label>Salary: </label>
        <input type="number" name="salary"/>
    </div>
    <div>
        <label>Educational institution: </label>
        <input type="text" name="educationalInstitution"/>
    </div>
    <button type="submit">Save</button>
</form>
</br>
<a href="/resume">Resume List</a>
</body>
</html>